body {
  background-color: #344054;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
}

.container input {
  background-color: inherit;
  color: inherit;
  min-width: 30%;
  padding: 15px 0px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(255, 172, 0, 0.6);
  font-size: large;
  transition: 0.2s ease-in-out;
}

.container input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #ffac00;
}

.container button {
  padding: 5px 8px;
  background-color: #ffac00;
  color: 344054;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.container .result {
  display: flex;
  align-items: center;
  justify-content: center;
}
